/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    color: #48802c;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

h2 { color: #48802c; font-size: 16px; }